TEST_CASE_TIMEOUT=120
MAX_TEST_CASES=2
OFFSET=0
MAX_EXECUTION_TURNS=3

HF_TOKEN=

MODELS='["xingyaow/codeact-agent-mistral"]'
OLLAMA_URL=http://localhost:11434

LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_PROJECT=jitgen_langgraph_example
LANGCHAIN_API_KEY=
